<a href="https://colab.research.google.com/github/Aman78695/API-fetching/blob/main/API_fetching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests

In [3]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=5f951413836088c52d6418a44088ebb8&language=en-US&page=1')

In [11]:
temp_df=pd.DataFrame(response.json()['results'])

In [12]:
temp_df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/wxaBkuqVIgImjRHEMJoxL9Lq6i8.jpg,"[16, 10751, 12, 14]",995133,en,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",28.858,/oQRgyQCzcyZvE6w5heM9ktVY0LT.jpg,2022-12-25,"The Boy, the Mole, the Fox and the Horse",False,8.7,205
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",88.334,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.7,17435
2,False,/wPU78OPN4BYEgWYdXyg0phMee64.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,111.799,/hBcY0fE9pfXzvVaY4GKarweriG2.jpg,1994-09-23,The Shawshank Redemption,False,8.7,23246
3,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,47.723,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.6,10557
4,False,/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",26.686,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-19,Dilwale Dulhania Le Jayenge,False,8.6,4050

In [13]:
df_new=temp_df[['id','original_language','original_title','overview','popularity','release_date']]

In [14]:
df_new.head(2)

,id,original_language,original_title,overview,popularity,release_date
0,995133,en,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",28.858,2022-12-25
1,238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",88.334,1972-03-14

In [20]:
df_new.to_csv('movies.csv')

In [22]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [26]:
for i in range(1,541):
  response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=5f951413836088c52d6418a44088ebb8&language=en-US&page={}'.format(i))
  temp_df=pd.DataFrame(response.json()['results'])
  temp_df=temp_df[['id','original_language','original_title','overview','popularity','release_date']]
  df=df.append(temp_df,ignore_index=True)

KeyError: ignored